# Python / env
.venv/
__pycache__/
*.pyc
.env

# Editors / OS
.vscode/
.DS_Store

# Notebooks / data junk
notebooks/.ipynb_checkpoints/
data/

# Personal stuff to keep private
me/
careerprofile.pdf
interview.txt
